@import url('https://fonts.googleapis.com/css2?family=Playwrite+PL:wght@100..400&display=swap');
:root {
    background: #c2e7da;
    --primary-color: #307473;
    --secondary-color: #7A82AB;
    --accent1-color: #2DC2BD;
    --accent2-color: #12664F;
    --heading-font: 'Playwrite Polska', serif;
    --paragraph-font: 'Playwrite Polska', serif;
    --nav-background-color: #C6D4FF;
    --nav-link-color: #12664F;
    --nav-hover-link-color: #307473;
    --nav-hover-background-color: #2DC2BD;
}


h1 {
    width: 100%;
    opacity: 0.5;
    position: absolute;
    font-family: var(--heading-font);
    color: var(--nav-link-color);
    padding: 5px;
    border: #307473;
    background-color: var(--accent1-color);
    clear: both;
    text-align: center;
}

main img {
    float: right;
}

nav {
    display: flex;
    flex: 1 1 100%;
    justify-content: space-evenly;
}

.adventure {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
figure {
    align-items: center;
    border: thin #c0c0c0 solid;
    display: flex;
    flex-flow: column;
    padding: 1px;
    max-width: 220px;
    margin: auto;
}
  
.adventure img {
    max-width: auto;
    max-height: 150px;
}
  
figcaption {
    color: #000;
    font: italic smaller sans-serif;
    padding: 1px;
    text-align: center;
}

article {
    align-items: center;
    position: absolute;
    clear: both;
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
    margin: 1rem auto;
	display: grid;
	grid-template-columns: 300px 1fr 1fr;
	align-items: center;
	border-bottom: 1px solid #ccc;
	max-width: 1000px;
}

p {
    text-align: justify;
    padding: 1rem;
    color: #000000;
}

a {
    text-decoration: none;
}

article p {
    margin: 1rem;
    padding: 4rem;
}

h2 {
    position: relative;
    color: var(--nav-link-color);
    float: center;
    text-align: center;
    padding: 1rem;
    margin: 5px;
}

footer {
    clear: both;
}

footer img {
    width: 30px;
}

article img {
    width: 3px;
    float: right;
    margin: 4rem;
    padding: 1rem;
}

.hero article img {
    width: 100px;
    height: auto;
    float: right;
}

.hero img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    clear: both;
}
 .sociallinks a{
    float: right;
    position: relative;
 }