@import url('https://fonts.googleapis.com/css2?family=Playwrite+PL:wght@100..400&display=swap');
:root {
    background: #c2e7da;
    --primary-color: #307473;
    --secondary-color: #7A82AB;
    --accent1-color: #2DC2BD;
    --accent2-color: #12664F;
    --heading-font: 'Playwrite Polska', serif;
    --paragraph-font: 'Playwrite Polska', serif;
    --nav-background-color: #C6D4FF;
    --nav-link-color: #12664F;
    --nav-hover-link-color: #307473;
    --nav-hover-background-color: #2DC2BD;
}

section img {
    width: 250px;
    height: auto;
    clear: both;
    float: right;
}

h1 {
    position: absolute;
    font-family: var(--heading-font);
    color: var(--nav-link-color);
    padding: 5px;
    margin: 1rem;
    border: #307473;
    background-color: var(--accent1-color);
    clear: both;
    text-align: center;
}

main img {
    float: right;
}

article {
    align-items: center;
    position: absolute;
    clear: both;
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    text-align: justify;
    padding: 1rem;
    border: 1px;
    color: #000000;
}

a {
    text-decoration: none;
}

article p {
    margin: 1rem;
    padding: 1rem;
}

h2 {
    position: relative;
    color: var(--nav-link-color);
    float: center;
    text-align: left;
    padding: 1rem;
    margin: 5px;
}

footer {
    clear: both;
}

footer img {
    width: 25px;
}

article img {
    width: 3px;
    float: right;
    margin: 1rem;
    padding: 1rem;
}

.hero article img {
    width: 100px;
    height: auto;
    float: right;
}

.hero img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
    clear: both;
    
}